.App {
  text-align: center;
  height: 100%;
  font-family: 'Alef', sans-serif;
}

.main {
  /* background-color:#1B2631; */
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 1.5vmin);
  color: white;
}



.button {
  background-color: white;
  font-family: 'Alef', sans-serif;
  font-size: calc(12px + 2vmin);
  font-weight: bold;
  cursor: pointer;
  border: solid 0px;
  border-radius: 12px;
  padding: 3vh 6vmin;
  border-color: white;
  border: solid 0.3vmin;
  color:#1B2631;
  transition: 0.3s;
}


.button:hover{
  background-color: rgb(0,0,0,0);
  /* font-size: calc(12px + 2vmin); */
  border-color: white;
  transition: 0.3s;
  color: white;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
